<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "pt-br" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ with .Site.Params.subtitle }} - {{ . }}{{ end }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    {{ partial "favicon.html" . }}
    {{ partial "seo_tags.html" . }}

    <!-- Previne FOUC de tema -->
    <script>
      (function() {
        try {
          var theme = localStorage.getItem('theme');
          var systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          if (theme === 'dark' || (theme === null && systemPrefersDark)) {
            document.documentElement.classList.add('dark-theme');
          } else {
            document.documentElement.classList.remove('dark-theme');
          }
        } catch (e) {}
      })();
    </script>

    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <link rel="icon" href="{{ "/favicon.ico" | relURL }}">
    {{ with .Site.Params.description }}
      <meta name="description" content="{{ . }}">
    {{ end }}
    
    {{/* Bloco para CSS adicional ou meta tags específicas da página */}}
    {{ block "head" . }}{{ end }}
    
</head>
<body>
   <header id="site-header">
        <div class="container">
            <div class="header-inner-content">
                <div class="site-title-wrapper">
                    <a class="site-title" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
                </div>
                <nav id="site-nav" class="site-nav-wrapper">
                    <ul>
                        <li><a href="{{ "/textos/" | relLangURL }}">Textos</a></li>
                        <li>
                            <button id="theme-toggle" aria-label="Mudar tema" style="background:none; border:none; cursor:pointer; padding:0; line-height: 0;">
    <span id="theme-icon-svg">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Zm326-268Z"/></svg>
    </span>
</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main id="site-main" class="container">
        {{ block "main" . }}
        {{ end }}
    </main>
     
    {{ partial "footer.html" . }}

<script src="{{ "/js/theme-toggle.js" | relURL }}"></script>

</body>
</html>
